<nz-layout>
  <nz-header>
    <div class="header_title">
      <h1 class="header_title_h1">{{ getTranslation('title') }}</h1>
      <div class="language-selector">
        <span nz-icon nzType="global" nzTheme="outline" class="language-icon"></span>
        <nz-select
          style="width: 120px"
          [(ngModel)]="selectedLanguage"
          (ngModelChange)="onLanguageChange($event)"
          [nzOptions]="languageOptions"
        ></nz-select>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
    <nz-footer>AWD 257025507 &copy; 2025</nz-footer>
</nz-layout>