<nz-layout>
  <nz-header>
    <div class="header_title">
      <h1 class="header_title_h1">{{ getTranslation('title') }}</h1>
      <div class="language-selector">
        <span nz-icon nzType="global" nzTheme="outline" class="language-icon"></span>
        <nz-select
          style="width: 120px"
          [(ngModel)]="selectedLanguage"
          (ngModelChange)="onLanguageChange($event)"
          [nzOptions]="languageOptions"
        ></nz-select>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <nz-space nzDirection="vertical" nzSize="large" style="width: 100%; padding: 24px">
      <form nz-form class="search-form">
        <nz-row [nzGutter]="24">
          <nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label>{{ getTranslation('location') }}</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzSuffix]="clearLocationTemplate">
                  <input nz-input [attr.id]="'location'" [(ngModel)]="location" name="location" />
                </nz-input-group>
                <ng-template #clearLocationTemplate>
                  @if (location && location.length > 0) {
                  <nz-icon
                    nzType="close"
                    nzTheme="outline"
                    (click)="clearLocation()"
                    style="cursor: pointer"
                  >
                  </nz-icon>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="5">
            <nz-form-item>
              <nz-form-label>{{ getTranslation('district') }}</nz-form-label>
              <nz-form-control>
                <nz-select
                  nzAllowClear
                  [nzOptions]="districtOptions"
                  [attr.id]="'district'"
                  [(ngModel)]="selectedDistrict"
                  name="district"
                ></nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col>
            <nz-form-item>
              <nz-form-label>{{ getTranslation('officeHours') }}</nz-form-label>
              <nz-form-control>
                <nz-time-picker
                  [attr.id]="'openHour'"
                  [nzFormat]="'HH:mm'"
                  [nzAllowEmpty]
                  [(ngModel)]="openHour"
                  name="openHour"
                ></nz-time-picker>
                -
                <nz-time-picker
                  [attr.id]="'closingHour'"
                  [nzFormat]="'HH:mm'"
                  [(ngModel)]="closingHour"
                  name="closingHour"
                ></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>

        <nz-row [nzGutter]="24">
          <nz-col nzSpan="19">
            <nz-form-item>
              <nz-form-label>{{ getTranslation('address') }}</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzSuffix]="clearAddressTemplate">
                  <input nz-input [attr.id]="'address'" [(ngModel)]="address" name="address" />
                </nz-input-group>
                <ng-template #clearAddressTemplate>
                  @if (address && address.length > 0) {
                  <nz-icon
                    nzType="close"
                    nzTheme="outline"
                    (click)="clearAddress()"
                    style="cursor: pointer"
                  >
                  </nz-icon>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="">
            <nz-form-control>
              <button
                nz-button
                nzType="default"
                style="margin-right: 8px"
                (click)="onReset()"
                nzShape="round"
              >
                <nz-icon nzType="clear" nzTheme="outline" />
                {{ getTranslation('clear') }}
              </button>
              <button nz-button nzType="primary" nzShape="round" (click)="onSubmit()">
                {{ getTranslation('submit') }}
              </button>
            </nz-form-control>
          </nz-col>
        </nz-row>
      </form>
      <nz-tabs nzType="card" class="weekdayTab" [nzAnimated]="false">
        @for (weekDay of weekdayOptions;track weekDay){
        <nz-tab [nzTitle]="weekDay.label">
          <nz-table #searchTable [nzData]="getDayOfWeekData(weekDay.value)" nzTableLayout="fixed">
            <thead>
              <tr>
                <!-- <th>{{ getTranslation('name') }}</th> -->
                <th>{{ getTranslation('location') }}</th>
                <th>{{ getTranslation('district') }}</th>
                <th>{{ getTranslation('address') }}</th>
                <th>{{ getTranslation('officeHours') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of searchTable.data">
                <!-- <td>{{ data.name }}</td> -->
                <td>{{ data.location_en || data.location_sc || data.location_tc }}</td>
                <td>{{ data.district_en || data.district_sc || data.district_tc }}</td>
                <td>{{ data.address_en || data.address_sc || data.address_tc }}</td>
                <td>{{ data.open_hour }} - {{ data.close_hour }}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        }
      </nz-tabs>
    </nz-space>
  </nz-content>
  <nz-footer>AWD 257025507 &copy; 2025</nz-footer>
</nz-layout>
